colorama==0.4.6
cycler==0.11.0
fonttools==4.25.0
kiwisolver==1.4.4
numpy==1.24.3
packaging==23.1
Pillow==10.0.1 
pip==23.3
portalocker==2.3.0
pyparsing==3.0.9
python-dateutil==2.8.2 
setuptools==68.0.0
six==1.16.0
tabulate==0.8.10 
termcolor==2.1.0 
typing_extensions==4.7.1 
wheel==0.41.2
yacs==0.1.6
